
    
<section class="landing-page-container">
    <div class="row">  
    <div class="landing-page-wrapper">
        <div class="row">
    <h1 id="landing-page-heading">Test Your Knowledge</h1>
        </div>   
    <div class="landing-inputs-wrapper">
        <input type="text" placeholder="Enter Your Firstname" [(ngModel)]="fname">
        <input type="text" placeholder="Enter Your Lastname" [(ngModel)]="lname">
        <button id="start-quiz-btn" (click)="onClick()" >Start</button>
    </div>
    </div>
</div> 
    
</section>
